.nuxt-content {
  padding-left: calc(2 * var(--main-font-size));
  opacity: .9;
}

.nuxt-content div pre {
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
  word-wrap: break-word;
  white-space: normal;
  opacity: var(--level1-opacity);
}

.nuxt-content h3 {
  margin-bottom: var(--main-font-size);
}

.nuxt-content p {
  margin-bottom: var(--main-font-size);
}

.nuxt-content table {
  width: 100%;
  margin-bottom: var(--main-font-size);
  border: 0px solid #ccc;
  border-collapse: collapse;
}

.nuxt-content table td {
  padding: 2px;
  border: 1px solid var(--color-transparent4);
  border-top: 0px;
}

.nuxt-content table tr:first-child th {
  border-top: 0;
}

.nuxt-content table tr:last-child td {
  border-bottom: 0;
}

.nuxt-content table tr td:first-child,
.nuxt-content table tr th:first-child {
  border-left: 0;
}
.nuxt-content table tr td:last-child,
.nuxt-content table tr th:last-child {
  border-right: 0;
}

.nuxt-content hr {
  opacity: 0.2;
}

.nuxt-content div pre code {
  color: var(--color-secondary);
}
